<h1>メモアプリ</h1>
<form action="/memo/top" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label for="title">タイトル</label><br>
    <input type="text" name="title" value="<%= @json_data[@id]['title'] %>">
  </div>
  <div>
    <label for="content">内容</label><br>
    <textarea name="content" cols="30" rows="10"><%= @json_data[@id]['body'] %></textarea>
  </div>
  <div>
    <input type="submit" value="保存">
  </div>
</form>
