<h1>メモアプリ</h1>
<form action="/memos/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label for="title">タイトル</label><br>
    <input type="text" name="title" value="<%= h(@json_memo_data[@id]['title']) %>">
  </div>
  <div>
    <label for="content">内容</label><br>
    <textarea name="content" cols="30" rows="10"><%= h(@json_memo_data[@id]['body']) %></textarea>
  </div>
  <div>
    <input type="submit" value="保存">
  </div>
</form>
