<h1>メモアプリ</h1>
<p>
  <%= h(@json_data[@id]['title']) %>
</p>
<p>
  <%= h(@json_data[@id]['body']) %>
</p>

<form method="?" action="?">
  <input type="submit" value="編集" formaction="/memo/<%= @id + 1 %>/edit" formmethod="get">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除" formaction="/memo/top" formmethod="post">
</form>
