<h1>メモアプリ</h1>
<h2><%= @memo_title %></h2>
<p><%= @content %></p>
<a class="btn" href="edit_memo1">編集</a>
<form action="/memos/1" method="post" style="display:inline;">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除">
</form>
