<h1>メモアプリ</h1>
  <h2>
    <%= @json_data[@id]['title'] %>
  </h2>
  <p>
    <%= @json_data[@id]['body'] %>
  </p>
  <form action="/memo/<%= @id + 1 %>/edit" method="get">
    <input type="submit" value="編集">
  </form>
  <form action="/memo/top" method="post" style="display:inline;">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="削除">
  </form>
