<h1>メモアプリ</h1>
<p>
  <%= h(@json_data[@id]['title']) %>
</p>
<p>
  <%= h(@json_data[@id]['body']) %>
</p>
<a href="/memos/<%= @id %>/edit">編集</a>
<form action="/memos/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除">
</form>
