<h1>メモアプリ</h1>
<a href="/memos/new">追加</a>
<ul>
  <% if @json_memo_data.empty? %>
    <%= h(@no_memo_coment) %>
　<% else %>
    <% @json_memo_data.each do |key, value| %>
    <li>
      <a href="/memos/<%= h(key) %>">
      <%= h(value['title']) %>
    </li>
    <% end %>
  <% end %>
</ul>
