<h1>メモアプリ</h1>
<form>
  <input type="submit" formaction="/memo/new" value="追加">
</form>
<ul>
  <% @json_data.each do |data| %>
    <li>
      <a href="/memo/<%= h(data['id']) %>">
        <%= h(data['title']) %>
      </a>
    </li>
  <% end %>
</ul>
