<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <title>メモアプリ</title>
  </head>

  <body>
    <h1>メモアプリ</h1>
    <a class="btn" href="new_memo">追加</a>
    <ul>
      <li><a href="show_memo1">メモ１</a></li>
      <li><a href="show_memo2">メモ２</a></li>
      <li><a href="show_memo3">メモ３</a></li>
      <li><a href="show_memo4">メモ４</a></li>
    </ul>
  </body>

</html>
